# Node
frontend/node_modules/
frontend/dist/

# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.pyc

# Environment
.env
backend/.env
frontend/.env

# Uploads
uploads/
backend/uploads/

# Logs
*.log

# Archives
*.zip

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/